body {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url("city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.lift_container {
    margin-top:10px;
    position: relative;
    width: 260px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    
    
}

.floor {
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-image: linear-gradient(rgb(227, 222, 222), rgb(112, 112, 107), rgb(54, 56, 54));
    font-size: 1.2em;
    color: #fae3e3;
    position: relative;
    
}

.lift {
    position: relative;
    bottom: 0px;
    left:10%;
    width: 80%;
    height: 120px;
    background-color: #040404;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: bottom 1s ease-in;
    z-index:1;
   
}

.buttons {
    margin-top: 20px;
    display: inline;
    flex-direction: column;
}

.button {
    margin: 10px;
    padding:  14px 24px;
    font-size: 22px;
    background: #38393b;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform (2.4)ease;
}

.button:hover {
    background: #040404;
    transform: scale(1.02);
}

 .pointer{
    pointer-events:none;
 }  